<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
        <% if (user) { %>
        <li><a href="/games">Список игр</a></li>
        <form class="hidden-form" name="new-game-form">
            <input name="username" style="display: none;" value="<%=user.get('username')%>">
            <input name="field-size" style="display: none;" value="3">
        </form>
        <li><a href="" onclick="$('<form method=POST action=/logout>').appendTo('body').submit();return false">Выйти</a></form></li>
        <% } %>
    </ul>
</nav>





