<header class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <a href="/"><span class="mdc-toolbar__title">Tic Tac Toe</span></a>
        </section>
        <% if (user) { %>
            <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
                <a class="mdc-list-item" href="/games">
                    <i class="material-icons" aria-hidden="true">list</i>
                </a>
                <a class="mdc-list-item" href="" onclick="$('<form method=POST action=/logout>').appendTo('body').submit();return false">
                    <i class="material-icons" aria-hidden="true">exit_to_app</i>
                </a>
            </section>
        <% } %>
    </div>
</header>