@import "../vendor/bower_components/susy/sass/_susy.scss";
@import "../vendor/bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "reset.scss";
@import "login.scss";
@import "game-field.scss";

$font-family: 'Roboto Condensed', sans-serif;
$primary-color: #333;
$bg-main: #f4f4f4;
$game: #777777;
$text-main: #fff;
$grey: #777;
$dark-grey: #404040;
$light-grey: #E0E0E0;
$orange: #FFA65C;
$hr-color: #9B9B9B;
$button-green: #039584;





// Susy
$susy: (
        columns: 12,
        gutters: 1/3,
        math: fluid,
        gutter-position: inside,
);

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: 414px) { @content; }
  }
  @else if $media == wide-handhelds {
    @media only screen and (min-width: 415px) and (max-width: 767px) { @content; }
  }
  @else if $media == tablets {
    @media only screen and (min-width: 768px) and (max-width: 959px) { @content; }
  }
}
/*
// Для телефонов
@include respond-to(handhelds) { float: none; };
// Для телефонов с широким экраном
@include respond-to(wide-handhelds) { float: none; };
// Для планшетов
@include respond-to(tablets) { width: 240px; };
*/

body {
  color: $primary-color;
  background: $bg-main;
  height: 100%;
  a:hover {
    text-decoration: none;
  }
  a:visited {
    color: inherit;
  }
}


.main-container {
  font-family: $font-family;
  font-size: 26px;
  padding: 24px 24px 0 24px;
  max-width: 800px;
  height: 100%;
  margin: auto;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

header.mdc-toolbar {
  background-color: #0a0a0a;
}

.mdc-toolbar__section--align-end {
  margin-right: 24px;
  .mdc-list-item {
    margin-left: 12px;
  }
}


.games-list {
  @include span(12 no-gutters);
}

.mdc-fab.new-game {
  background-color: $button-green;
  float: right;
  right: 0;
  bottom: 0;
  margin: 5px;
}

.username-container-games {
  border-bottom: 1px solid $light-grey;
  margin-bottom: 10px;
  display: inline-block;
  padding-bottom: 5px;
}

.game-preview-container {
  color: $text-main;
  padding: 0 10px 10px 0;
  &:last-of-type {
    padding-right: 0px;
  }

  @include span(2 no-gutters);


  // Для телефонов
  @include respond-to(handhelds) {
    @include span(12 no-gutters);
  };
  // Для телефонов с широким экраном
  @include respond-to(wide-handhelds) {
    @include span(6 no-gutters);
  };
  // Для планшетов
  @include respond-to(tablets) {
    @include span(3 no-gutters);
  };
}

.game {
  font-size: 18px;
  min-width: 110px;
  height: 120px;
  background-color: $game;
  position: relative;
  color: inherit;
  display: block;
  padding: 5px 7px;

  .user-container{
    color: $text-main;
    height: 42%;
    display: block;
    position: relative;
    &.opponent {
      padding-top: 5px;
    }
  }

  &.playing {
    background-color: lighten($game, 20%);
    hr {
      background-color: $dark-grey;
    }
  }

  &.done {
    color: $dark-grey;
    background-color: lighten($game, 40%);
    .user-container {
      color: $dark-grey;
    }
    .winner {
      color: $orange;
      &:after {
        content: "";
        width: 20px;
        height: 20px;
        display: inline-block;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 10px;
        background-image: url(../images/tick.png);
      }
    }
    hr {
      background-color: $dark-grey;
    }
  }
}



.game-duration {
  color: $dark-grey;
  font-size: 12px;
  display: block;
  width: 100%;
  position: relative;
  text-align: right;
}

hr {
  margin: 0;
  height: 1px;
  position: absolute;
  width: 100%;
  border: none;
  bottom: 0;
}


