<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=blocks.title%></title>
    <!--<link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css"/>-->
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/vendor/node_modules/material-components-web/dist/material-components-web.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
</head>
<body>
<div class="main-container mdc-toolbar-fixed-adjust">

    <%-partial('../partials/topNavigation')%>

    <%-body -%>

</div>

<footer>
    <%-blocks.footer%>
</footer>
</body>
<script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
<script src="/vendor/bower_components/jquery-ui/jquery-ui.js"></script>
<script src="/vendor/node_modules/material-components-web/dist/material-components-web.js"></script>
<script src="/js/min.js"></script>
</html>